@media (max-width: 768px) {
    .navbar-right-icon {
        display: none;
    }

    .navbar-right {
        flex-direction: column;
        align-items: normal;
        z-index: 1;
    }

    .navbar {
        margin: 0;
    }

    .navbar-right input {
        position: relative;
        width: 100%;
    }

    ::placeholder {
        
        left: 10%;
        padding-top: 2px;
    }

    .navbar-right-input i {
        z-index: 2;
    }

    .toggle {
        position: absolute;
        right: 2%;
        top: 3px;
        margin-top: 3px;
        z-index: 11;
    }
    

    .navbar-mobile {
        background-color: rgb(255, 255, 255);
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100vh;
        display: none;
    }

    .container {
        padding: 0;
    }

    .navbar-mobile.show {
        display: block;
        /* Hiển thị navbar khi có class 'show' */
    }

    .navbar-mobile-sub {
        width: 100%;
        padding: 60px 20px 0 20px;
    }

    .navbar-mobile-sub .login {
        text-align: center;
        margin-bottom: 20px;
        background-color: rgb(0, 0, 0);
        padding: 12px 0;
        border-radius: 5px;
    }
    .navbar-mobile-sub .login a {        
        width: 100%;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
    }
    .navbar-mobile-sub ul a{
        padding: 15px 0;
        font-weight: 500;
        font-size: 20px;
        display: block;
    }
    .slide{
        margin-top: 25px;
        width: 100%;
        border-radius: 1px;
    }
    .nav{
        flex-wrap: nowrap;
        white-space: nowrap;
    }  
    #gallery-img{
        margin-bottom: 8px;
        padding: 0 5px;
    }
}
@media (min-width: 768px){
    .col-md-24{
        flex: 0 0 auto;
        width: 20%;
      }
      
}